@use 'colors';

.background-parallax-blur {
    position: relative;
    overflow: auto;
}

.background-parallax-blur:before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    filter: blur(4px);
}

.background-white {
    background: colors.$white;
}

.background-dark-white {
    background: colors.$dark-white;
}

.background-black {
    background: colors.$black;
}

.background-light-black {
    background: colors.$light-black;
}

.background-red {
    background-image: linear-gradient(colors.$light-red, colors.$red);
}

.background-red-gradient-left {
    background-image: radial-gradient(ellipse at center left, rgba(colors.$red, 0.2), transparent 60%);
}

.background-yellow {
    background-image: linear-gradient(colors.$light-yellow, colors.$yellow);
}

.background-yellow-gradient-left {
    background-image: radial-gradient(ellipse at center left, rgba(colors.$yellow, 0.2), transparent 60%);
}

.background-green {
    background-image: linear-gradient(colors.$light-green, colors.$green);
}

.background-green-gradient-left {
    background-image: radial-gradient(ellipse at center left, rgba(colors.$green, 0.2), transparent 60%);
}

.background-blue {
    background-image: linear-gradient(colors.$light-blue, colors.$blue);
}

.background-blue-gradient-right {
    background-image: radial-gradient(ellipse at center right, rgba(colors.$blue, 0.2), transparent 60%);
}

.background-purple {
    background-image: linear-gradient(colors.$light-purple, colors.$purple);
}

.background-purple-gradient-right {
    background-image: radial-gradient(ellipse at center right, rgba(colors.$purple, 0.2), transparent 60%);
}

.background-colorful-light {
    background-image: linear-gradient(180deg, rgba(colors.$white, 0.01), rgba(colors.$white, 1) 80%),
        radial-gradient(ellipse at top left, rgba(colors.$blue, 0.5), transparent 50%),
        radial-gradient(ellipse at top right, rgba(colors.$yellow, 0.5), transparent 50%),
        radial-gradient(ellipse at center left, rgba(colors.$red, 0.5), transparent 50%),
        radial-gradient(ellipse at center right, rgba(colors.$purple, 0.5), transparent 50%);
}

.background-colorful-dark {
    background-image: linear-gradient(180deg, rgba(colors.$black, 0.01), rgba(colors.$black, 1) 80%),
        radial-gradient(ellipse at top left, rgba(colors.$blue, 0.5), transparent 50%),
        radial-gradient(ellipse at top right, rgba(colors.$yellow, 0.5), transparent 50%),
        radial-gradient(ellipse at center left, rgba(colors.$red, 0.5), transparent 50%),
        radial-gradient(ellipse at center right, rgba(colors.$purple, 0.5), transparent 50%);
}
