@use 'colors';

.background-parallax-blur {
    position: relative;
    overflow: auto;
}

.background-parallax-blur:before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    filter: blur(4px);
}

.background-white {
    background: colors.$white;
}

.background-dark-white {
    background: colors.$dark-white;
}

.background-black {
    background: colors.$black;
}

.background-light-black {
    background: colors.$light-black;
}

.background-red {
    background-image: linear-gradient(colors.$light-red , colors.$red);
}

.background-yellow {
    background-image: linear-gradient(colors.$light-yellow , colors.$yellow);
}

.background-green {
    background-image: linear-gradient(colors.$light-green , colors.$green);
}

.background-blue {
    background-image: linear-gradient(colors.$light-blue , colors.$blue);
}

.background-purple {
    background-image: linear-gradient(colors.$light-purple , colors.$purple);
}
