$white: #FFFFFF;
$black: #000000;
$light-blue: #bde0fe;
$blue: #a2d2ff;
$light-purple: #cdb4db;
$purple: #B591CA;
$light-yellow: #F9D79F;
$yellow: #f6bd60;

:export {
    white: $white;
    black: $black;
    light-blue: $light-blue;
    blue: $blue;
    light-purple: $light-purple;
    purple: $purple;
    light-yellow: $light-yellow;
    yellow: $yellow;
}