@use 'colors' as colors;

button {
    background-image: linear-gradient(colors.$light-blue , colors.$blue);
    border: none;
    border-radius: 3em;
    box-shadow:
        0 -2px 8px colors.$blue,
        0 2px 8px colors.$light-blue;
    font-family: inherit;
    font-size: 1em;
    font-weight: bold;
    margin: 1em 2em;
    padding: 1em 2em;
    transition: 0.4s;
}

button:hover {
    box-shadow:
        0 -4px 16px colors.$blue,
        0 4px 16px colors.$light-blue;
}

button:active {
    box-shadow:
        0 -8px 32px colors.$blue,
        0 8px 32px colors.$light-blue;
}

.button-small {
    border-radius: 1.5em;
    margin: 0.5em 1em;
    padding: 0.5em 1em;
}

.button-purple {
    background-image: linear-gradient(colors.$light-purple , colors.$purple);
    box-shadow:
        0 -2px 8px colors.$purple,
        0 2px 8px colors.$light-purple;
}

.button-purple:hover {
    box-shadow:
        0 -4px 16px colors.$purple,
        0 4px 16px colors.$light-purple;
}

.button-purple:active {
    box-shadow:
        0 -8px 32px colors.$purple,
        0 8px 32px colors.$light-purple;
}

.button-yellow {
    background-image: linear-gradient(colors.$light-yellow , colors.$yellow);
    box-shadow:
        0 -2px 8px colors.$yellow,
        0 2px 8px colors.$light-yellow;
}

.button-yellow:hover {
    box-shadow:
        0 -4px 16px colors.$yellow,
        0 4px 16px colors.$light-yellow;
}

.button-yellow:active {
    box-shadow:
        0 -8px 32px colors.$yellow,
        0 8px 32px colors.$light-yellow;
}