.row {
    display: grid;
}

.row-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.row-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.column {
    display: inline-grid;
}

.container {
    position: relative;
}

.align-horizontal-left {
    text-align: left;
}

.align-horizontal-center {
    text-align: center;
}

.align-horizontal-right {
    text-align: right;
}

.align-vertical-center {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.padding-top-5 {
    padding-top: 5rem;
}

.viewport-height-90 {
    height: 90vh;
}

.width-100 {
    width: 100%;
}

.width-80 {
    width: 80%;
}
