h1 {
    margin: 0;
    padding: 50px 10px;
}

h2 {
    margin: 0;
    padding: 40px 10px;
}

h3 {
    margin: 0;
    padding: 30px 10px;
}

h4 {
    margin: 0;
    padding: 20px 10px;
}

h5 {
    margin: 0;
    padding: 10px 10px;
}