.text-large {
    display: inline-block;
    font-size: 3em;
    font-weight: bolder;
}

.text-medium {
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    margin: 0.5em 1em;
}

.text-small {
    display: inline-block;
    font-size: 1em;
}